.head {
    background-color: lightblue;
    font-size: 35px;
    text-align: center;
}

.form-label{
    font-size: 25px;
}


#container {
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: 10px;
       
}
.card-list-two {

    border-radius: 10px;
    background-color: grey;
    color: white;
    text-align: left;
    float: left ;
    width:20%;
    height: 40%
}

 #Weather {
    margin-left: 350px;
    margin-top: -150px;
 }


 
 
 