.head {
    background-color: lightblue;
    font-size: 35px;
    text-align: center;
}

.form-label{
    font-size: 25px;
}

.btn {
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: lightblue;
}
#container {
    /* line-height: 2.5; */
    /* padding: 0px 50px; */
    font-size: 1rem;
    text-align: center;
    color: black;
    border-radius: 10px;
    margin-left: 180px;
    
    
    
}
.card-list-two {

    border-radius: 10px;
    background-color: grey;
    color: white;
    text-align: left;
    float: left ;
    width:20%;
    height: 40%
    
    

}
.card-list-three {
    float: left ;
    width:20%;
    border-radius: 10px;
    background-color: grey;
    color: white;
    text-align: left;
    height: 40%
    

}

.card-list-four{
    float:right ;
    width:20%;
    border-radius: 10px;
    background-color: grey;
    color: white;
    text-align: left;
    height: 40%
    

}

.card-list-five {
    float: right ;
    width:20%;
    border-radius: 10px;
    background-color: grey;
    color: white;
    text-align: left;
    height: 40%
    
}

.card-list-six {
    float: right ;
    width:20%;
    border-radius: 10px;
    background-color: grey;
    color: white;
    text-align: left;
    height: 80%
   

}

